$background-color: #d9d9d9;
$body-txt-color: #434343;
$container-color: #fff;
$help-color: #50c6db;
$button-color: #51bb7b;
$button-focus-color: #a1f27e;
$sidebar-border-color: #693f7e;
$sidebar-color: #f9f9f6;
$main-p-color: #918b8b;
$sidebar-a-color: #838383;
$footer-color: #9f9c9c;