@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap');

@import 'variables';

@import 'main';

@import 'tablet';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}